._*
tags

*.o
*.lo
*.la

autom4te.cache

.*.sw*
aclocal.m4
ltmain.sh
configure

Makefile
Makefile.*
config.log
config.status
config.guess
config.sub

.cproject
.project
Debug/
*.dat
*.idx


.deps
.libs
libtool

*Load
*Query
*Exhaustive
*Generator
